h1 {
    font-size: 70px;
    text-align: center;
    color: bisque;

}

h2 {
    text-align: center;
    color: bisque;
}

h3 {
    text-align: center;
    color: bisque;

}

h4 {
    text-align: center;
    color: bisque;

}

h5 {
    text-align: center;
    color: bisque;

}


p {
    text-align: center;
    color: bisque;
}

li {
    display: inline;
    padding: 10px;

}

.flexbox {
    display: flex;
    flex-direction: row;

}

.logga {
    flex-grow: 1;
    /* background-color:black; */
    padding: 20px;
    color: bisque;
}

.menybox {
    flex-grow: 1;
    /* background-color:black; */
    padding: 20px;

}

.instagramlank {
    flex-grow: 1;
    /* background-color:black; */
    padding: 20px;
    color: bisque;
}

a {
    color: bisque;
}

.menydiv {
    background-color: rgb(68, 65, 65);
}